<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>CreateBill</title>
</head>
<body style="background-color:#6DB6DF ;">
  <header>
      <img class="logo" src="/images/logo.png" width="200" height="200">
  <div class="navbar">
  <nav>
      <ul class="nav_links">
          <li><a href ="/" style="text-decoration:none;color: #ffffff; ">Home</a></li>
          <li><a href ="/login" style="text-decoration: underline;font-weight:bold;color: #ffffff;">login</a></li>
      </ul>
  </nav>
  </div>
  </header>
  <% bill1.forEach((bill,index)=>{ %> 

    <div class="center1">
        <h1 style="margin-left: 110px;margin-top: 10px;">Rent Bill</h1>
        <form method="post" action="/view">
          <div class="txt_field">
            <label for="EnterDate">ID</label>
            <input type="text" value="<%= bill.id %>" name="id" class="form-control" disabled>
          </div>

          <div class="txt_field">
            <label for="EnterDate">Issued to</label>
            <input type="text" value="<%= bill.issued_to %>" name="name" class="form-control" disabled>
          </div>

        <div class="txt_field">
            <label for="EnterDate">Issued date</label>
            <input type="text" value="<%=bill.issued_date%>" name="date" class="form-control" disabled >
          </div>

          <div class="txt_field">
            <label for="EnterDate">Total amount</label>
            <input type="text" value="<%=bill.total_amount%>"name="amount" class="form-control" disabled >
          </div>

          <div class="txt_field">
            <label for="EnterDate">Deadline</label>
            <input type="text" value="<%=bill.deadline%>"name="deadline" class="form-control" disabled>
          </div>
          <% }) %>

        <div class="sub_button">
          <button type="view" class="button">Pay now</button>
        </div>
      </form>
    </div>
</body>
</html>